$clr-border: #24262a;

$clr-page-bg: #212327;

$clr-header-text: #eaebef;

$clr-hgroup-bg: #3e4046;
$clr-hgroup-h4: #bdc2cb;

$clr-content-bg: #373940;
$clr-content-bg-alt: #2e3036;

$clr-footer-bg: #282a2f;
$clr-footer-text: #8b919d;

$clr-text: #f2f5f7;
$clr-text-post-metadata: #7d8489;

$clr-link: $clr-primary;
$clr-link-hover: $clr-primary-l50;
