$val-body-padding: 40px;
$val-left-column-width: 180px;
$val-border-size: 4px;
$val-element-gap: 30px;
$val-rounded-corner: 14px;
$val-header-drop-shadow: 0.125rem;
$val-nav-gradient-angle: 205deg;
$val-side-nav-gradient-angle: 205deg;
