---
---
@charset "utf-8";

// Set primary color variable if defined
{% if site.primary_color_value %}
$value_clr_primary: {{ site.primary_color_value }};
{% elsif site.primary_color_name %}
$name_clr_primary: {{ site.primary_color_name }};
{% endif %}

// Variables
$font-family-body:            "{{ site.font_family_main              | default: 'Source Sans 3' }}";
$font-family-body-variable:   "{{ site.font_family_main_variable     | default: site.font_family_main | default: 'Source Sans 3 VF' }}";
$font-family-code:            "{{ site.font_family_code              | default: 'Monaco' }}";

$path_profile_image:          "{{ site.path_profile_image           | default: site.github.owner_gravatar_url }}";

$val-body-padding:            {{ site.style_body_padding            | default: '40px' }};
$val-content-padding:         {{ site.style_content_padding         | default: '25px' }};
$val-left-column-width:       {{ site.style_left_column_width       | default: '180px' }};
$val-border-size:             {{ site.style_border_size             | default: '4px' }};
$val-element-gap:             {{ site.style_element_gap             | default: '30px' }};
$val-rounded-corner:          {{ site.style_rounded_corner_value    | default: '14px' }};
$val-header-drop-shadow:      {{ site.style_header_drop_shadow_size | default: '0.125rem' }};
$val-nav-gradient-angle:      {{ site.style_nav_gradient_angle      | default: '205deg' }};
$val-side-nav-gradient-angle: {{ site.style_side_nav_gradient_angle | default: '205deg' }};

// Add Fonts CSS rules (only if requested)
{% if site.font_family_main == "Source Sans 3" or site.font_family_main_variable == "Source Sans 3 VF" %}
@import "fonts/sourcesans3";
{% endif %}
{% if site.use_fontawesome == true %}
@import "fonts/fontawesome";
{% endif %}

// Theme
@import "cyathea";

// Add background pattern CSS rules (only if defined)
{% if site.path_background_pattern %}
html {
  background-image: url("{{ site.path_background_pattern }}");
  {% if site.path_background_pattern_highres %}
  /* Chrome/Edge/Opera/Samsung, Safari will fallback to this as well */
  background-image: -webkit-image-set(url("{{ site.path_background_pattern }}") 1x, url("{{ site.path_background_pattern_highres }}") 2x);
  /* Standard use */
  background-image: image-set("{{ site.path_background_pattern }}" 1x, "{{ site.path_background_pattern_highres }}" 2x);
  {% endif %}
  background-position: center top;
  background-repeat: {{ site.background_pattern_repeat | default: 'repeat-x' }};
}
{% endif %}

// User custom styles
@import "custom";
