---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	{% include head.html %}
	<body>
		<a id="skip-to-content" href="#main-content">Go to the content.</a>
		<a id="skip-to-navigation" href="#navigation">Go to navbar.</a>
		<div id="profile-picture">
			<a aria-label="Link to homepage" href="{{ '/' | relative_url }}"><svg viewBox="0 0 1 1"></svg></a>
		</div>
		{% include header.html %}
		{% include navigation.html %}
		<main id="main-content" role="main">
			<!-- Or article tag if post -->
			<section>
				<hgroup>
					<h1>{{ page.title }}</h1>
					{% if page.subtitle %}<h4>{{ page.subtitle }}</h4>{% endif %}
				</hgroup>
				{% include metadata.html %}
				<div id="content">{{ content }}</div>
			</section>
		</main>
		{% include footer.html %}
	</body>
</html>
